Data/

MachineLearning/MLEwithDirichlete.py
MachineLearning/MLEwithDirichlete.R
MachineLearning/MLE_Dirichilet.py
MachineLearning/DirichletNegalitiveLogLikelihood.py
MachineLearning/MLEwithDirichlete.py
